{% extends "base.html" %}

{% block content %}

<section class="page-title page-title-4 bg-secondary">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="uppercase mb0">Contact Us</h3>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>

    <section class="p0">
            <div class="map-holder pt160 pb160">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2308.161317829603!2d-8.111854683985797!3d54.653985083660814!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNTTCsDM5JzE0LjMiTiA4wrAwNiczNC44Ilc!5e0!3m2!1sen!2sie!4v1584655460650!5m2!1sen!2sie"></iframe>
            </div>
        </section>

        <section>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-5">
                            <h4 class="uppercase">Get In Touch</h4>
                            <p>
                                If you wish to request a photography session, or have an upcoming event you would love to capture. Don't be afraid to get in touch with us at any of the methods shown on this page.
                            </p>
                            <hr>
                            <p>
                                Address Line 1
                                <br> Address Line 2
                                <br> Eircode
                            </p>
                            <hr>
                            <p>
                                <strong>E:</strong> admin@smgphotography.com
                                <br>
                                <strong>P:</strong> +353 87 123 4567
                                <br>
                            </p>
                        </div>
                        <div class="col-sm-6 col-md-5 col-md-offset-1">
                                {% if messages %}
                                {% for message in messages %}
                                {% if message.tags == 'success' %}
                                <div class="alert alert-success alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    {{ message }}
                                </div>
                                {% endif %}
                                    {% endfor %}
                                {% endif %}
                            <form class="form-email" id="contact-form" method="post" action="{% url 'contact' %}">
                                {% csrf_token %}
                                {{ contact_form }}
                                <input type="submit" value="Send">
                            </form>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>

{% endblock %}