{% extends 'base.html' %}

{% block content %}
<section class="bg-primary background-multiply pt240 pb240 pt-xs-120 pb-xs-120 overlay image-bg parallax">
    <div class="background-image-holder fadeIn">
        <img alt="image" class="background-image" src="https://siobhan-mcgowan-photography.s3.amazonaws.com/media/images/preview/Murvagh_Beach.jpg" style="display: none;">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                <h2 class="brand-title">SIOBHAN <span>MCGOWAN</span> PHOTOGRAPHY</h2>
                <h4 class="mb56 mb-xs-24">
                    Capturing all your precious moments, one frame at a time
                </h4>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>

<section class="portfolio-pullup">
        <div class="container">
            <div class="row row-gapless masonry masonryFlyIn">
                {% for photo in photos %}
                {% if photo.featured %}
                <div class="col-md-4 col-sm-6 masonry-item project" data-filter="People">
                    <div class="image-tile inner-title hover-reveal text-center">
                        <a href="{% url 'photo_detail' photo.id %}">
                            <img alt="Pic" src="{{ MEDIA_URL }}{{ photo.previewimage }}" />
                            <div class="title">
                                <h5 class="uppercase mb0">{{ photo.name }}</h5>
                                <span>{{ photo.category }}</span>
                            </div>
                        </a>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->

    </section>

    <section class="pt0 pb180 pt-xs-80 pb-xs-80">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <h3 class="mb48 mb-xs-32">Some reviews from some amazing clients we've had the pleasure of working with.</h3>
                    <div class="text-slider slider-paging-controls text-center relative">
                        <ul class="slides">
                            {% for review in reviews %}
                            {% if review.featured %}
                            <li>

                                <h5>{{ review.description }}</h5>
                                <i class="ti-medall"></i>
                                <div class="quote-author">
                                    <h6 class="uppercase mb0">{{ review.name }}</h6>
                                    <span>{{ review.company }}</span>
                                </div>
                            </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>

    <section class="bg-secondary pt64 pb64">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h2 class="mb8">Capture those special moments.</h2>
                        <p class="lead mb40">
                            Contact us today to find out if we can capture your special moments!
                        </p>
                        <a class="btn btn-filled btn-lg mb0" href="{% url 'contact' %}">Contact Us</a>
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </section>
<!--<div class="row banner-container">
<img class="d-block w-100" src="{{ MEDIA_URL }}Lough_Melvin_at_sunset.jpg"
    alt="Siobhan McGowan Photography">
    <div class="banner-overlay text-center">
        <h3>SIOBHAN <span>MCGOWAN</span> PHOTOGRAPHY</h3>
        <p>strong overlay</p>
    </div>
</div> 
    <div class="row">
        <div class="col-s-12">
            <h2 class="text-left">Latest Pictures</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-s-12">
            <div id="multi-item" class="carousel slide carousel-multi-item carousel-multi-item-2" data-ride="carousel">
                <div class="controls-top">
                    <a class="black-text" href="#multi-item" data-slide="prev"><i
                            class="fas fa-arrow-left fa-3x pl-3"></i></a>
                    <a class="black-text" href="#multi-item" data-slide="next"><i
                            class="fas fa-arrow-right fa-3x pl-3"></i></a>
                </div>
                <div class="carousel-inner" role="listbox">
                    {% for photo in photos %}
                    {% if forloop.counter <= 8 %}
                    {% if forloop.counter == 1 %}
                    <div class="carousel-item active">
                        {% endif %}
                        {% if forloop.counter == 5 %}
                        <div class="carousel-item">
                            {% endif %}

                            <div class="col-md-3 mb-3 my-auto">
                                <div class="card text-center">
                                    <img class="img-fluid" src="{{ MEDIA_URL }}{{ photo.previewimage }}" alt="Card image cap">
                                    <div class="card-img-overlay">
                                        <h5 class="card-title">{{ photo.name }}</h5>
                                        <p class="card-text">{{ photo.description }}</p>
                                        <a href="{% url 'photo_detail' photo.id %}">
                                            <button type="button" class="btn btn-success">More Info</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            {% if forloop.counter == 4 %}
                        </div>
                        {% endif %}
                        {% if forloop.counter == 8 %}
                    </div>{% endif %}
                    {% endif %}
                    {% endfor %}
                </div>

            </div>
        </div>

    -->
{% endblock %}