{% extends 'base.html' %}




{% block content %}
<section class="bg-primary background-multiply pt240 pb240 pt-xs-120 pb-xs-120 overlay image-bg parallax">
    <div class="background-image-holder fadeIn">
        {% if banner %}
        <img alt="{{ banner.name }}" class="background-image" src="{{ MEDIA_URL }}{{ banner.image }}"
            style="display: none;">
        {% else %}
        <img alt="error" class="background-image">
        {% endif %}
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                <h2 class="brand-title">SIOBHAN <span>MCGOWAN</span> PHOTOGRAPHY</h2>
                <h4 class="mb56 mb-xs-24">
                    Capturing all your precious moments, one frame at a time
                </h4>
                {% if messages %}
                {% for message in messages %}
                {% if message.tags == 'success' %}
                <div class="alert alert-success alert-dismissible index-success" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
                {% elif message.tags == 'error' %}
                <div class="alert alert-danger alert-dismissible index-danger" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</section>

<section class="portfolio-pullup">
    <div class="container">
        <div class="row row-gapless masonry masonryFlyIn">
            {% for photo in photos %}
            {% if photo.featured %}
            <div class="col-md-4 col-sm-6 masonry-item project" data-filter="People">
                <div class="image-tile inner-title hover-reveal text-center">
                    <a href="{% url 'photo_detail' photo.id %}">
                        <img alt="Pic" src="{{ MEDIA_URL }}{{ photo.previewimage }}" />
                        <div class="title">
                            <h5 class="uppercase mb0">{{ photo.name }}</h5>
                            <span>{{ photo.category }}</span>
                        </div>
                    </a>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>

<section class="pt0 pb180 pt-xs-80 pb-xs-80">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <h3 class="mb48 mb-xs-32">Some reviews from some amazing clients we've had the pleasure of working with.
                </h3>
                <div class="text-slider slider-paging-controls text-center relative">
                    <ul class="slides">
                        {% for review in reviews %}
                        {% if review.featured %}
                        <li>

                            <h5>{{ review.description }}</h5>
                            <i class="ti-medall"></i>
                            <div class="quote-author">
                                <h6 class="uppercase mb0">{{ review.name }}</h6>
                                <span>{{ review.company }}</span>
                            </div>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-secondary pt64 pb64">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center contact-link">
                <h2 class="mb8">Capture those special moments.</h2>
                <p class="lead mb40">
                    Contact us today to find out if we can capture your special moments!
                </p>
                <a class="btn btn-filled btn-lg mb0" href="{% url 'contact' %}">Contact Us</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}