{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
       <div class="col-xs-10 offset-xs-1 col-lg-6">
            <img id="product-image" src="{{ MEDIA_URL }}{{ photo.image }}" />
        </div>
        <div id="photo-details" class="col-xs-10 offset-xs-1 col-lg-6 text-center">
            <h2>
                {{ photo.name }}
            </h2>
            <div>
                {{ photo.description }}
            </div>
            <form method="post" action="{% url 'add_to_cart' photo.id %}">
                {% csrf_token %}
                <div class="input-group">
                    <input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity">
                    <span class="input-group-btn">
                        <button class="btn btn-success" type="submit">Add</button>
                    </span>
                </div>
            </form>
        </div> 

        
         

{% endblock %}