{% extends 'base.html' %}

{% block content %}
<div class="container gallery-container">        
        <div class="tz-gallery">
                <div class="row">
    {% for photo in photos %}
                <div class="col-sm-12 col-md-4">
                    <a class="lightbox" href="{{ MEDIA_URL }}{{ photo.image }}">
                        <img src="{{ MEDIA_URL }}{{ photo.image }}" alt="Bridge">
                    </a>
                </div>
    {% endfor %}
    
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../images/park.jpg">
                        <img src="../images/park.jpg" alt="Park">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../images/tunnel.jpg">
                        <img src="../images/tunnel.jpg" alt="Tunnel">
                    </a>
                </div>
                <div class="col-sm-12 col-md-8">
                    <a class="lightbox" href="../images/traffic.jpg">
                        <img src="../images/traffic.jpg" alt="Traffic">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../images/coast.jpg">
                        <img src="../images/coast.jpg" alt="Coast">
                    </a>
                </div> 
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../images/rails.jpg">
                        <img src="../images/rails.jpg" alt="Rails">
                    </a>
                </div>
    
            </div>
    
        </div>
    
    </div>


<div class="row row-flex">
    {% for photo in photos %}
        <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
            <div class="panel-body">
                <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"></div>
                <h3>{{ photo.name }}</h3>
                <p class="product-description">{{ photo.description }}</p>
                <p>{{ photo.price }}</p>

                <form method="post" action="">
                    {% csrf_token %}
                    <div class="input-group">
                        <input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity">
                        <span class="input-group-btn">
                            <button class="btn btn-success" type="submit">Add</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    {% endfor %}
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script>
    baguetteBox.run('.tz-gallery');
</script>
{% endblock %}