{% extends 'base.html' %}

{% block content %}
<section class="projects pt48">
    <div class="container">

        <div class="row pb24">
            
            <div class="col-sm-12 text-center">
                <ul class="filters mb0">
                    <li data-filter="all" class="active">All</li>
                    {% for photo in photos %}
                    <li data-filter="{{ photo.category }}">{{ photo.category }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <!--end of row-->
        <div class="row masonry masonryFlyIn fadeIn" style="position: relative; height: 840px;">
            {% for photo in photos %}
            <div class="col-md-4 col-sm-6 masonry-item project fadeIn" data-filter="{{ photo.category }}"
                style="position: absolute; left: 0px; top: 0px;">
                <div class="image-tile inner-title hover-reveal text-center">
                    <a href="{% url 'photo_detail' photo.id %}">
                        <img alt="{{ photo.name }}" src="{{ MEDIA_URL }}{{ photo.previewimage }}">
                        <div class="title">
                            <h5 class="uppercase mb0">{{ photo.name }}</h5>
                            <span>{{ photo.category }}</span>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
        <!--end of row-->
    </div>
</section>
    <!--end of container-->


{% endblock %}