/****** PLACE YOUR CUSTOM STYLES HERE ******/
.brand-title,
.tag-form>.btn:hover,
.index-success,
.index-danger,
.image-bg .btn:hover { 
    color: #ffffff;
}

.brand-title span {
    color: #daa520 !important;
    font-weight: 600;
}

th {
    font-weight: 400;
}

.slides i {
    font-size: 7rem;
}

.order-total,
.filters li,
.tag-form>.btn,
.product-single .price  {
    color: #daa520;
}

.product-single .price:not(.old-price) {
    font-weight: 600;
    color: #daa520;
}

.lightbox-grid li {
    position: initial;
}


.bg-primary {
    background: #30384e !important;
  }

.background-multiply .background-image-holder {
    background-color: #30384e !important;
}

.bg-load {
    position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
    background: rgba(219, 216, 216, 0.9);
    z-index: 4;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #000000; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    position: fixed;
    left: 55%;
    top: 55%;
    margin-top: -100px;
    margin-left: -100px;
    animation: spin 2s linear infinite;
    z-index: 5;
}
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.alert-danger span {
    color: #c64444 !important;
    text-shadow: #c64444 0px 1px 0px !important;
}

.accountform .alert-danger {
    background: #e8f0fe;
}

input[type="email"] {
    background: #f5f5f5;
    border: none;
    width: 100%;
    height: 50px;
    padding-left: 20px;
    font-weight: 500;
    margin-bottom: 24px;
    border-radius: 0;
}

.btn,
input[type="submit"],
button[type="submit"] {
    border: 2px solid goldenrod;
}

.btn-filled,
.btn:hover,
input[type="submit"],
button[type="submit"] {
    background-color: goldenrod;
}

button[type="submit"]:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:active:focus,
.image-bg .btn:hover  {
    background-color: #666;
}

.btn-primary:active:focus {
    border-color: #3b3b3b;
}

.btn:focus, 
.btn:active:focus {
    outline-color: goldenrod;
}

.index-success {
    background-color: rgba(121, 199, 124, 0.3);
}

.index-danger {
    background-color: rgba(198, 68, 68, 0.3);
}

.tag-form {
    display: inline-block;
}

.filters li.active {
    border-color: #daa520;
}

.white-inner {
    color: #daa520
}