.card img, #product-image {
  width: 100%;
}

.card-img-overlay {
  transition: .5s ease;
  opacity: 0;
  color: white;
  background-color: black;
}


.card-img-overlay:hover {
  opacity: 0.75;
}

#photo-details {
  margin: auto;
}
