/****** PLACE YOUR CUSTOM STYLES HERE ******/
.brand-title { 
    color: white;
}

.brand-title span {
    color: goldenrod !important;
    font-weight: 600;
}

th {
    font-weight: 400;
}

.slides i {
    font-size: 7rem;
}

.order-total {
    color: goldenrod;
}

.lightbox-grid li {
    position: initial;
}


.bg-primary {
    background: #30384e !important;
  }

.background-multiply .background-image-holder {
    background-color: #30384e !important;
}

.bg-load {
    position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
    background: rgba(219, 216, 216, 0.9);
    z-index: 4;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #000000; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    position: fixed;
    left: 55%;
    top: 55%;
    margin-top: -100px;
    margin-left: -100px;
    animation: spin 2s linear infinite;
    z-index: 5;
}
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.alert-danger span {
    color: #c64444 !important;
    text-shadow: rgb(198, 68, 68) 0px 1px 0px !important;
}

.accountform .alert-danger {
    background: rgb(232, 240, 254);
}
