{% extends "base.html" %}
{% block content %}
    <h2>Success!</h2>
    <p>You are logged in as {{ user.username }} </p>
    <section>
            <div class="container">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
    

    <table class="table cart mb48">
        <thead>
            <tr>
                <th>Image</th>
                <th>Product Name</th>
                <th>Size</th>
                <th>Download Link</th>
            </tr>
        </thead>
        <tbody>
                {% for line in lines %}
                {% if line.order.user_name == "Legaeldan" %}
                
                <tr>
                        <td>
                                <img alt="{{ line.photo.name }}" class="product-thumb" src="{{ MEDIA_URL }}{{ line.photo.image }}">
                        </td>
                        <td>
                            <span>{{ line.photo.name }}</span>
                        </td>
                        <td>
                            <span>{{ line.photo.previewimage.width }} X {{ line.photo.previewimage.height }}</span>
                        </td>

<td>
    <a href="{{ MEDIA_URL }}{{ line.photo.image }}" download="">download
                        <button type="submit" class="btn btn-primary">Download Now</button>
    </a>
                    </td>
                    </tr>
                    {% endif %}
    {% endfor %}
                </tbody>
            </table>
</div>
</div>
</div>
</section>
{% endblock %}