{% extends "base.html" %}
{% load bootstrap_tags %}
{% block page_title %}
<title>Register - Siobhan McGowan Photography</title>
{% endblock %}
{% block content %}

<section class="cover fullscreen image-bg overlay">
        <div class="background-image-holder">
            <img alt="image" class="background-image" src="{{ MEDIA_URL }}images/Sunset_at_Mullinasole.jpg" />
        </div>
        <div class="container v-align-transform">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="feature bordered text-center accountform-container">
                        <h4 class="uppercase">Register Here</h4>
                        <form class="text-left accountform"method="post" action="{% url 'register' %}">
                                {% csrf_token %}
                                {{  user_form | as_bootstrap }}
                            <input type="submit" value="Register" />
                        </form>
                        <p class="mb0">Already got an account? <a href="{% url 'login' %}">Sign In</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}