{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}
        <section class="page-title page-title-4 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="uppercase mb0">Shopping Cart</h3>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-9 col-md-offset-0 col-sm-10 col-sm-offset-1">
                            {% if messages %}
                            {% for message in messages %}
                            {% if message.tags == 'error' %}
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                {{ message }}
                            </div>
                            {% endif %}
                                {% endfor %}
                            {% endif %}
                        <table class="table cart mb48">
                            <thead>
                                <tr>
                                    <th>&nbsp;</th>
                                    <th>Product</th>
                                    <th>Description</th>
                                    <th>Size</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if not cart_items %}
                                </tbody>
                            </table>
                                <div class="alert alert-warning" role="alert">
                                        Uhoh! Looks like there's nothing here. Best get shopping!
                                    </div>
                                {% else %}
                                {% for item in cart_items %}
                                <tr>
                                    <th scope="row">
                                        <a href="{% url 'remove_from_cart' item.photo.id %}" class="remove-item" data-toggle="tooltip" data-placement="top" title="" data-original-title="Remove from cart">
                                            <i class="ti-close"></i>
                                        </a>
                                    </th>
                                    <td>
                                        <a href="{% url 'photo_detail' item.photo.id %}">
                                            <img alt="{{ item.photo.name }}" class="product-thumb" src="{{ MEDIA_URL }}{{ item.photo.previewimage }}">
                                        </a>
                                    </td>
                                    <td>
                                        <span>{{ item.photo.name }}</span>
                                    </td>
                                    <td>
                                        <span>{{ item.photo.previewimage.width }} X {{ item.photo.previewimage.height }}</span>
                                    </td>
                                    <td>
                                        <span>€{{ item.photo.price }}</span>
                                    </td>
                                </tr>
                                                   
                                {% endfor %}
                                {% endif %}

                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-3 col-md-offset-0 col-sm-10 col-sm-offset-1">
                        <div class="mb24">
                            <h5 class="uppercase">Your Order Total</h5>
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th scope="row">Order Total</th>
                                        <td>
                                            <strong>€{{ total }}</strong>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <form action="{% url 'checkout' %}">
                                <input type="submit" value="Proceed To Checkout">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}