{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Siobhan McGowan Photography</title>


    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
    <link href="{% static 'css/themify-icons.css' %}" rel="stylesheet" type="text/css" media="all" />
    <link href="{% static 'css/flexslider.css' %}" rel="stylesheet" type="text/css" media="all" />
    <link href="{% static 'css/lightbox.min.css' %}" rel="stylesheet" type="text/css" media="all" />
    <link href="{% static 'css/theme.css' %}" rel="stylesheet" type="text/css" media="all" />
    <link href="{% static 'css/custom.css' %}" rel="stylesheet" type="text/css" media="all" />
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400|Open+Sans:400,600|Poppins:300,400|Raleway:100,300,400,500,600&display=swap' rel='stylesheet' type='text/css'>
    <link href="{% static 'css/font-roboto.css' %}" rel="stylesheet" type="text/css">
    {% block head_js %}
    {% endblock head_js %}
</head>
<body class="scroll-assist">
  <!--<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'index' %}">Siobhan <span>McGowan</span> Photography</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'photos' %}">Portfolio</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Search
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <form class="form-inline" action="{% url 'search' %}" method="GET">
                  <input class="form-control" placeholder="Search" name="q">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
                </form>
          </div>
        </li>
        <li>
            <a class="nav-link" href="{% url 'view_cart' %}">
                <i class="fas fa-shopping-cart"></i> Cart
                {% if photo_count > 0 %}
                <label class="badge badge-danger">{{ photo_count }}</label>
                {% endif %}
            </a>
        </li>
      </ul>
    </div>
  </nav>-->
  <nav class="bg-dark">
    <div class="nav-bar">
        <div class="module left">
            <a href="{% url 'index' %}">
              <div class="brand-title">SIOBHAN <span>MCGOWAN</span> PHOTOGRAPHY</div>
            </a>
        </div>
        <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
            <i class="ti-menu"></i>
        </div>
        <div class="module-group right">
            <div class="module left">
                <ul class="menu">
                    <li>
                        <a href="{% url 'index' %}">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'photos' %}">
                            Portfolio
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'contact' %}">
                            Contact Us
                        </a>
                    </li>
                    {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'profile' %}">
                            Profile
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}">
                            Logout
                        </a>
                    </li>
                    {% else %}
                    <li>
                            <a href="{% url 'register' %}">
                                Register
                            </a>
                    </li>
                    <li>
                        <a href="{% url 'login' %}">
                            Login
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <!--end of menu module-->
            <div class="module widget-handle search-widget-handle left">
                <div class="search">
                    <i class="ti-search"></i>
                    <span class="title">Search Site</span>
                </div>
                <div class="function">
                    <form class="search-form" action="{% url 'search' %}" method="GET">
                        <input type="text" placeholder="Type Here" name="q"/>
                    </form>
                </div>
            </div>
            <div class="module widget-handle cart-widget-handle left">
                <div class="cart">
                    <i class="ti-bag"></i>
                    {% if photo_count > 0 %}
                    <span class="label number">{{ photo_count }}</span>
                    {% endif %}
                    <span class="title">Shopping Cart</span>
                </div>
                <div class="function">
                    <div class="widget">
                        <h6 class="title">Shopping Cart</h6>
                        <hr>
                        <ul class="cart-overview">
                          {% if photo_count == 0 %}
                          <li>
                          <span>Nothing to show here! Best get shopping!</span>
                          </li>
                          {% else %}
                          {% for item in cart_items %}
                          {% if forloop.counter <= 3 %}
                          <li>
                                <a href="{% url 'photo_detail' item.photo.id %}">
                                    <img alt="Product" src="{{ MEDIA_URL }}{{ item.photo.previewimage }}" />
                                    <div class="description">
                                        <span class="product-title">{{ item.photo.name }}</span>
                                        <span class="price number">€{{ item.photo.price }}</span>
                                    </div>
                                </a>
                            </li>
                            {% elif forloop.counter == 4 %}
                            <span class="product-title">Plus {{ forloop.revcounter }} more items...</span>
                            {% endif %}
                            {% endfor %}
                            {% endif %}
                        </ul>
                        <hr>
                        <div class="cart-controls">
                            <a class="btn btn-sm btn-filled" href="{% url 'view_cart' %}">View Cart</a>
                            <div class="list-inline pull-right">
                                <span class="cart-total">Total: </span>
                                <span class="number">€{{ total }}</span>
                            </div>
                        </div>
                    </div>
                    <!--end of widget-->
                </div>
            </div>
        </div>
        <!--end of module group-->
    </div>
</nav>
<div class="main-container">
    {% block content %}


    {% endblock %}
  </div>

    <footer class="footer-1 bg-dark">
        <div class="container">
            <div class="row">

                    <a href="{% url 'index' %}">
                      <div class="brand-title">SIOBHAN <span>MCGOWAN</span> PHOTOGRAPHY</div>
                    </a>
            </div>
            <!--end of row-->
            <div class="row">
                <div class="col-sm-6">
                    <span class="sub">© Copyright 2020 - Legaeldan Designs</span>
                </div>
                <div class="col-sm-6 text-right">
                    <ul class="list-inline social-list">
                          <li>
                            <a href="#">View on GitHub
                                <i class="ti-github"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--end of container-->
        <a class="btn btn-sm fade-half back-to-top inner-link" href="#top">Top</a>
    </footer>
    <div class="bg-load"></div>
    <div class="loader"></div>
<script src="{% static 'js/jquery.min.js'%}"></script>
<script src="{% static 'js/bootstrap.min.js'%}"></script>
<script src="{% static 'js/flexslider.min.js'%}"></script>
<script src="{% static 'js/lightbox.min.js'%}"></script>
<script src="{% static 'js/masonry.min.js'%}"></script>
<script src="{% static 'js/smooth-scroll.min.js'%}"></script>
<script src="{% static 'js/parallax.js'%}"></script>
<script src="{% static 'js/scripts.js'%}"></script>
<script src="{% static 'js/custom.js'%}"></script>
</body>
</html>
